html,
body, 
#root {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 15px;
}

.game-info {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

.game-field {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #000;
}

.game-field--win {
    opacity: 0.4;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    background-color: transparent;
}

.cell--win {
    background-color: hotpink;
}
